<!-- Hero Section -->

<section>
  <div class="hero-image">
    <div class="d-flex justify-content-between align-items-center">
      <div class="heroText">
        <h2>
          LOREM
        </h2>

        <h1>
          IPSUM
        </h1>
      </div>
      <img
        class="img-fluid heroImg"
        src="../assets/backgrounds/bitcoin_3d_logo.png"
        alt=""
        srcset=""
      />
    </div>
    <div class="bitcoin">
      <img
        class="bitcoin-1"
        src="../assets/icons/feature-bitcoin.png"
        alt=""
        srcset=""
      />
      <img src="../assets/icons/feature-bitcoin copy.png" alt="" srcset="" />
    </div>
  </div>
</section>

<!-- Services Section -->

<section>
  <p class="heading text-center ">
    OUR SERVICES
  </p>
  <div class="row text-center">
    <div class="col-4 icons ">
      <img
        class="icon-service"
        src="../assets/icons/Layer 3.png"
        alt="icon"
        srcset=""
      />
      <p class="text-service">SMART CONTRACT DEVELOPMENT</p>
    </div>
    <div class="col-4 icons">
      <img
        class="icon-service"
        src="../assets/icons/Layer 4.png"
        alt="icon"
        srcset=""
      />
      <p class="text-service">EXCHANGES</p>
    </div>
    <div class="col-4 icons">
      <img
        class="icon-service"
        src="../assets/icons/Layer 5.png"
        alt="icon"
        srcset=""
      />
      <p class="text-service">BLOCK CHAIN DEVELOPMENT</p>
    </div>
    <div class="col-4 icons">
      <img
        class="icon-service"
        src="../assets/icons/Network-512.png"
        alt="icon"
        srcset=""
      />
      <p class="text-service">HYPERLEDGER</p>
    </div>
    <div class="col-4 icons">
      <img
        class="icon-service"
        src="../assets/icons/if_Dzone_669685.png"
        alt="icon"
        srcset=""
      />
      <p class="text-service">PRIVATE BLOCKCHAIN DEVELOPMENT</p>
    </div>
    <div class="col-4 icons">
      <img
        class="icon-service"
        src="../assets/icons/Layer 6.png"
        alt="icon"
        srcset=""
      />
      <p class="text-service">WALLET</p>
    </div>
    <div class="col-12">
      <button
        type="button"
        class="btn "
        data-toggle="modal"
        data-target=".bd-example-modal-lg"
      >
        View All Services
      </button>
      <div
        class="modal fade bd-example-modal-lg"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myLargeModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content text-left">
            <ul>
              <li class="list-service">SMART CONTRACT DEVELOPEMENT</li>
              <li class="list-service">EXCHANGES</li>
              <li class="list-service">BLOCKCHAIN DEVELOPEMENT</li>
              <li class="list-service">HYPERLEDGER</li>
              <li class="list-service">PRIVATE BLOCKCHAIN DEVELOPEMENT</li>
              <li class="list-service">WALLET</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Trends Section -->

<section class="trendy">
  <p class="trend-heading text-center">
    TRENDS
  </p>
  <div class="row text-center">
    <div class="col-4 trends">
      <p class="trend-text">
        How Blockchain Technology will fortify RealEstate Industry
      </p>
      <div class="card text-white ">
        <img
          class="card-img-top img-fluid"
          src="../assets/sliders/Real-Estate-Investment-Dropping.png"
          alt=""
        />
        <div class="card-body">
          <button type="button" class="btn-trendy ">View All</button>
        </div>
      </div>
    </div>
    <div class="col-4 trends">
      <p class="trend-text">
        Blockchain Technology can help fight Cyber Crime
      </p>
      <div class="card text-white ">
        <img
          class="card-img-top img-fluid"
          src="../assets/sliders/cybercrime2.png"
          alt=""
        />
        <div class="card-body">
          <button type="button" class="btn-trendy ">View All</button>
        </div>
      </div>
    </div>
    <div class="col-4 trends">
      <p class="trend-text">
        Blockchain Technology Contributing to Research & Developement
      </p>
      <div class="card text-white ">
        <img
          class="card-img-top img-fluid"
          src="../assets/sliders/businessman-business-sketch.png"
          alt=""
        />
        <div class="card-body">
          <button type="button" class="btn-trendy">View All</button>
        </div>
      </div>
    </div>
  </div>
  <img
    class="trend-bg"
    src="../assets/backgrounds/4683.png"
    alt="trend-bg"
    srcset=""
  />
</section>

<!-- Contact Section -->

<section class="contact-section">
  <div class=" row">
    <div class="col-6 contacts">
      <p class="contact-text">
        New to BlockChain Industry ?
        <br />
        Or just got any queries ?
        <br />
        We are just one click away !
      </p>
    </div>
    <div class="col-6 contacts">
      <div class="card">
        <form [formGroup]="contactForm" (ngSubmit)="contact()">
          <!-- -->
          <h2 class="text-center ">Contact Us</h2>
          <p class="text-center">How can we help you ?</p>
          <hr />
          <div class="form-group">
            <input
              type="text"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('name').errors &&
                  contactForm.get('name').touched
              }"
              class="form-control text-capitalize"
              formControlName="name"
              placeholder="Your name"
            />
            <div class="invalid-feedback">Please enter your name</div>
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Email "
              [ngClass]="{
                'is-invalid':
                  (contactForm.get('email').errors &&
                    contactForm.get('email').touched) ||
                  (contactForm.get('email').touched &&
                    contactForm.get('email').hasError('email'))
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                contactForm.get('email').hasError('email') &&
                contactForm.get('email').touched
              "
            >
              Please enter valid email address
            </div>
            <div
              class="invalid-feedback"
              *ngIf="
                contactForm.get('email').hasError('required') &&
                contactForm.get('email').touched
              "
            >
              Please enter email address
            </div>
          </div>
          <!-- <div class="form-group">
                    
                    <input type="text" class="form-control" formControlName="company" placeholder="Company Name" [ngClass]="{'is-invalid' : contactForm.get('company').errors && contactForm.get('company).touched}">
                    <div class="invalid-feedback">Please enter your company</div>
                </div> -->

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="subject"
              placeholder="Subject Name"
              [ngClass]="{'is-invalid' : contactForm.get('subject').errors && contactForm.get('subject).touched}"
            />
            <div class="invalid-feedback">Please enter your Subject</div>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="message"
              placeholder="Your Message ..."
              [ngClass]="{'is-invalid' : contactForm.get('message').errors && contactForm.get('message).touched}"
            />
            <div class="invalid-feedback">Please enter your Message</div>
          </div>

          <div class="form-group text-center social-btn">
            <button
              class="btn btn-block signup"
              type="submit"
              [disabled]="!contactForm.valid"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="../assets/icons/oodles.png"
      style="height: 40px;"
      alt="logo"
      srcset=""
    />
  </a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >HOME <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PORTFOLIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TECHNOLOGIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MARKETING INSIGHT</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdownId"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >SERVICES</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">SMART CONTRACTS DEVELOPMENT</a>
          <a class="dropdown-item" href="#">EXCHANGES</a>
          <a class="dropdown-item" href="#">BLOCKCHAIN DEVELOPMENT</a>
          <a class="dropdown-item" href="#">HYPERLEDGE</a>
          <a class="dropdown-item" href="#">PRIVATE BLOCKCHAIN DEVELOPMENT</a>
          <a class="dropdown-item" href="#">WALLET</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT US</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
